@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Jost:wght@300&display=swap');

.topImageHome{
    position: relative;
}
.topImageText{
    position: absolute;
    right: 0;
    top: 0;
    margin: 20% 30px 0px 0px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
}
.cryptoText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 30px 10px 50px;
    font-family: 'Jost', sans-serif;
}
.cryptoText0{
    padding-top: 30px;
}
.cryptoText1{
    font-size: 18px;
    padding: 5px 20px 0px 0px;
    text-align: justify;
    gap: 44px;
}
.cryptoImage{
    margin-left: 50px;
    width: 85%;
    height: 100%;
}
.middleText{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px 50px 30px;
    gap: 30px;
}
.subText1{
    text-align: justify;
    font-family: 'Jost';
    font-weight: 100;
}
.card-collection{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 40px 20px;
    height: 30%;
}
.card_categories{
    position: static;
    border: 1px rgb(218, 209, 209) solid;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 15px 0px;
}
.iPhone_14_image{
    height: 250px;
}
.card_text{
    font-size: 14px;
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.4;
}
.samsung_card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    margin: 3px;
    margin: 0px 30px 30px 30px;
}
.samsung_fold{
    width: 100%;
    border-radius: 5px;
}
.samsung_detail{
    font-size: 18px;
}
.samsung_text{
    position: absolute;
    top: 0;
    right: 1;
    color: white;
    margin: 40px 0px 0px 35%;
    font-size: 40px;
    text-transform: uppercase !important;
}
.samsung_buy_now:hover{
    background-color: white;
    color: black;
}
.card_star{
    margin-bottom: 10px;
}
.buyNow{
    font-size: 12px !important;
}
.buyNow:hover{
    color: black;
    border: 1px black solid !important;
}
.likeButton{
    font-size: 20px;
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}
.heart{
    color: black;
    padding-top: -20px;
}
.heartFilled{
    color: rgb(236, 17, 17);
}

@media screen and (max-width:765px) {
    .imageTop{
        width: 100%;
    }
    .topImageText{
        font-size: 12px;
        margin: 20% 10px 0px 0px;
    }
    .cryptoText{
        display: grid;
        grid-template-columns: 1fr;
    }
    .cryptoText > div > h1{
        font-size: 20px;
    }
    .cryptoText1{
        font-size: 15px;
        padding-left: 0px;
        text-align: justify;
    }
    .cryptoImage{
        margin: 30px 0px 0px 0px;
        width: 95%;
        height: 85%;
    }
    .middleText{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 30px 50px 30px;
    }
    .card-collection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .iPhone_14_image{
        height: 150px;
    }
    .likeButton{
        font-size: 20px;
        float: right;
        padding-top: 0px;
    }
    .samsung_categories{
        display: grid;
        grid-template-columns: 1fr;
    }
}